*, *::before, *::after {
    box-sizing: border-box;
}

@import "titles";  

@import "grid";

@import "reset";

@import "padding";
 
@import "img";

    
.fas, .far, .fab, .fab {
    margin: 0 .25rem;
    vertical-align: middle;
}

//Predifined padding
 
.bg-bw {
  background-color: $break-white;
}

.section-header {
    p {
        color: $sec-color;
    }
}
