@import url("https://fonts.googleapis.com/css2?family=Piazzolla:wght@100;200;300;400;500;600;700&family=Ubuntu:wght@300;400;500;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

*, *::before, *::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
}

h1, .h1 {
  font-size: 2.5em;
}

h2, .h2 {
  font-size: 2.3em;
}

h3, .h3 {
  font-size: 2em;
}

h4, .h4 {
  font-size: 1.6em;
}

h5, .h5 {
  font-size: 1.4em;
}

h6, .h6 {
  font-size: 1.2em;
}

.main-title, .b-title {
  font-size: 3em;
  padding-top: 100px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 2rem;
  color: #ffa400;
}
@media (max-width: 992px) {
  .main-title, .b-title {
    font-size: 2em;
    line-height: 1.2;
    margin-bottom: 1rem;
  }
}

.main-title {
  font-family: "Ubuntu", sans-serif;
  line-height: 1;
  color: #ffa400;
}

.b-title {
  font-family: "Piazzolla", serif;
  color: #00dafd;
  line-height: 2;
  text-transform: uppercase;
}

.l4-title {
  font-family: "Piazzolla", serif;
  color: #ffa400;
  font-size: 1.2rem;
  font-weight: 600;
}

.widget-title {
  padding: 8px 0;
  margin-bottom: 30px;
  background-color: #ffa400;
  color: #fff;
  font-size: 18px;
}

.section-header p {
  color: #7a7b7b;
}
@media (max-width: 992px) {
  .section-header {
    max-width: 90%;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 572px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
}

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
  color: #495454;
  text-align: left;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  outline: none;
}

ul, ol, li, dl {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.py-70 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.px-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.pt-180 {
  padding-top: 200px;
}

.img {
  width: 100%;
  vertical-align: middle;
}

.img-rounded {
  border-radius: 50%;
}

.input-group {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.form-control {
  position: relative;
  display: block;
  line-height: 2;
  height: calc(2.25rem + 2px);
  outline: none;
  background-clip: padding-box;
}

.fas, .far, .fab, .fab {
  margin: 0 .25rem;
  vertical-align: middle;
}

.bg-bw {
  background-color: #eaf6ff;
}

.t-center {
  text-align: center !important;
}

.fw-300 {
  font-weight: 300 i !important;
}

header.header {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 80px;
  font-family: "Ubuntu";
  padding-top: 1rem;
  border-top: 0.5rem solid #ffa400;
  background-color: transparent;
  color: #eaf6ff;
}
header.header .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 992px) {
  header.header.show .navigation {
    transform: translateX(0);
    visibility: visible;
  }
}
@media (max-width: 992px) {
  header.header .logo {
    position: absolute;
    left: 50px;
    top: 15px;
  }
}
header.header .logo img {
  max-width: 280px;
}
header.header .hamburger {
  display: none;
}
@media (max-width: 992px) {
  header.header .hamburger {
    display: block;
    position: absolute;
    font-size: 2rem;
    color: #ffa400;
    right: 20px;
    top: 10px;
    padding: 0 .5rem;
    border: 1px solid rgba(255, 164, 0, 0.05);
    border-radius: .25rem;
    transition: all .3s ease;
  }
  header.header .hamburger:hover {
    color: rgba(255, 164, 0, 0.25);
    border-color: rgba(255, 164, 0, 0.35);
  }
  header.header .hamburger i {
    vertical-align: initial;
  }
}
@media (max-width: 992px) {
  header.header nav.navigation {
    display: block;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 500px;
    border-color: rgba(0, 0, 0, 0.75);
    visibility: hidden;
    transform: translateX(-100%);
    transition: transform .5s ease, visibility .5s ease;
  }
}
header.header nav.navigation .nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-width: 50%;
}
@media (max-width: 992px) {
  header.header nav.navigation .nav-links {
    display: block;
    max-width: 75%;
    width: 400px;
    height: 100%;
    margin-top: 0;
    margin-left: 0;
    padding-left: 4rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #ffa400;
    color: #fff;
  }
}
header.header nav.navigation .nav-links .nav-item {
  margin-left: 1rem;
  list-style-type: none;
}
@media (max-width: 992px) {
  header.header nav.navigation .nav-links .nav-item {
    margin-bottom: 1rem;
  }
}
header.header nav.navigation .nav-links .nav-item .nav-link {
  padding: .35rem  .75rem;
  font-size: 19px;
  font-weight: 400;
  color: inherit;
  line-height: 2;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: all .3s ease;
}
@media (max-width: 992px) {
  header.header nav.navigation .nav-links .nav-item .nav-link {
    padding: 0.5rem 1rem;
    color: #7a7b7b;
  }
}
header.header nav.navigation .nav-links .nav-item .nav-link:hover, header.header nav.navigation .nav-links .nav-item .nav-link:active, header.header nav.navigation .nav-links .nav-item .nav-link.active, header.header nav.navigation .nav-links .nav-item .nav-link.hover {
  color: #ffa400;
  border-bottom-color: #ffa400;
}
@media (max-width: 992px) {
  header.header nav.navigation .nav-links .nav-item .nav-link:hover, header.header nav.navigation .nav-links .nav-item .nav-link:active, header.header nav.navigation .nav-links .nav-item .nav-link.active, header.header nav.navigation .nav-links .nav-item .nav-link.hover {
    color: #eaf6ff;
    border-bottom-color: #eaf6ff;
  }
}
header.header nav.navigation .nav-links .nav-item.submenu {
  position: relative;
}
@media (min-width: 992px) {
  header.header nav.navigation .nav-links .nav-item.submenu:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    top: 100%;
  }
}
header.header nav.navigation .nav-links .nav-item.submenu .dropdown-menu {
  position: absolute;
  display: block;
  left: 0;
  top: 150%;
  min-width: 200px;
  padding: 0;
  text-align: left;
  background-color: #ffa400;
  color: #eaf6ff;
  border: none;
  border-radius: 0;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease-in;
}
header.header nav.navigation .nav-links .nav-item.submenu a.nav-link {
  display: block;
  width: 100%;
  transition: color .25s ease-in;
}
header.header nav.navigation .nav-links .nav-item.submenu a.nav-link:hover, header.header nav.navigation .nav-links .nav-item.submenu a.nav-link:active, header.header nav.navigation .nav-links .nav-item.submenu a.nav-link.active, header.header nav.navigation .nav-links .nav-item.submenu a.nav-link.hover {
  color: #7a7b7b;
  border-bottom-color: transparent;
}

.header.light-header {
  color: #ffa400;
}

.banner {
  padding: 12em 2em 8em 2em;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75) 75%, rgba(255, 255, 255, 0.4)), url("../Images/Banner/IMG_0971.JPG") no-repeat top;
  background-size: cover;
  text-align: center;
  border-top: 0.5rem solid #ffa400;
}
.banner .banner-wrapper {
  width: 70%;
  margin-top: -2,5rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1.5rem;
  text-shadow: 1px 1px 5px rgba(255, 164, 0, 0.76);
}
@media (max-width: 992px) {
  .banner .banner-wrapper {
    width: 90%;
  }
}
.banner .banner-wrapper p {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
@media (max-width: 992px) {
  .banner .banner-wrapper p {
    font-size: 1.1rem;
  }
}

#footer .footer-blocks .footer-block {
  width: 50%;
  flex: 0 0 50%;
}
@media (max-width: 992px) {
  #footer .footer-blocks .footer-block {
    width: 100px;
    flex: 0 0 100%;
  }
}
#footer .footer-blocks .f-links li {
  margin-bottom: 1rem;
}
#footer .footer-blocks .f-links li a {
  padding: 0.5rem 0;
  color: #7a7b7b;
  border-bottom: 1px solid transparent;
  transition: all .3s ease;
}
#footer .footer-blocks .f-links li a:hover {
  color: #ffa400;
  border-bottom-color: #ffa400;
}
#footer .footer-blocks .s-links ul {
  display: flex;
  align-items: center;
  width: 100%;
}
#footer .footer-blocks .s-links a {
  padding: 1rem;
  color: #7a7b7b;
  transition: .3s ease;
}
#footer .footer-blocks .s-links a:hover {
  color: #ffa400;
}
#footer .footer-blocks .copyright {
  width: 100%;
  margin: 1rem;
  padding: 1rem;
  color: #ffa400;
  text-align: center;
}

.card .card-wrapper {
  display: flex;
}
.card .card-wrapper article {
  margin-right: 1rem;
  padding: 0 1rem 0 1.5rem;
  border: 1px solid transparent;
  border-right-color: rgba(122, 123, 123, 0.55);
}
.card .card-wrapper article:last-child {
  border-right-color: transparent;
}
.card .card-wrapper article header {
  margin-bottom: 2rem;
}
.card .card-wrapper article h4 {
  max-width: 75%;
  font-family: "Piazzolla", serif;
  font-weight: 500;
  color: #ffa400;
}
.card .card-wrapper article p {
  color: #7a7b7b;
}
@media (max-width: 992px) {
  .card .card-wrapper {
    flex-flow: column;
  }
  .card .card-wrapper article {
    margin-bottom: 1rem;
    padding-bottom: 2rem;
    border-right-color: transparent;
    border-bottom-color: rgba(122, 123, 123, 0.15);
  }
  .card .card-wrapper article:last-child {
    border-bottom-color: transparent;
  }
  .card .card-wrapper article h4 {
    max-width: 100%;
  }
}

.btn {
  display: inline-block;
  padding: .5rem 1rem;
  background-color: #ffa400;
  color: #fff;
  font-size: 1.15rem;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  outline: none;
  user-select: none;
  text-decoration: none;
  transition: all .3s ease;
}
.btn:hover, .btn:focus {
  outline: none;
  background-color: #db8d00;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
}
.btn.btn-mini {
  font-size: 1rem;
  padding: .25rem .5rem;
}
.btn.btn-big {
  padding: 0.75rem 1.5rem;
}
.btn.btn-outline:hover, .btn.btn-outline:focus {
  background-color: transparent;
  border-color: #ffa400;
  color: #ffa400;
}

#articles .articles-container article {
  width: 50%;
  flex: 0 0 50%;
}
@media (max-width: 992px) {
  #articles .articles-container article {
    width: 100%;
    flex: 0 0 100%;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgba(255, 164, 0, 0.25);
  }
}
#articles .articles-container article header h4 {
  font-weight: 400;
  color: #ffa400;
}
#articles .articles-container article p {
  color: #7a7b7b;
  padding: 1rem 0;
}
@media (max-width: 992px) {
  #articles .articles-container article p {
    padding: 0;
  }
}

#mentors .mentors-wrapper .mentors-container .mentor-box {
  width: 25%;
  flex: 0 0 25%;
}
@media (max-width: 992px) {
  #mentors .mentors-wrapper .mentors-container .mentor-box {
    width: 50%;
    flex: 0 0 50%;
  }
}
@media (max-width: 768px) {
  #mentors .mentors-wrapper .mentors-container .mentor-box {
    width: 90%;
    flex: 0 0 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
#mentors .mentors-wrapper .mentors-container .box {
  text-align: center;
  border-radius: .25rem;
  margin-bottom: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: 1px 1px 3px rgba(255, 164, 0, 0.25), -1px -1px 3px rgba(255, 164, 0, 0.25);
}
#mentors .mentors-wrapper .mentors-container .mentor-imag {
  width: 200px;
  padding: 1rem;
  margin: auto;
  border-radius: 50%;
}

.blog-intro {
  font-size: 1.1rem;
  text-align: center;
  font-weight: 300;
}

.main-title, h1 {
  color: #ffa400;
}

.blog-category .category-wrapper {
  justify-content: space-around;
  align-items: center;
}
.blog-category .category-post {
  position: relative;
  width: 33%;
  flex: 0 0 33%;
  text-align: center;
  cursor: pointer;
}
@media (max-width: 992px) {
  .blog-category .category-post {
    width: 100%;
    font-size: 0 0 100%;
    margin: 1rem 0;
  }
}
.blog-category .category-post:hover .category-details {
  background-color: rgba(255, 164, 0, 0.65);
}
.blog-category .category-post .category-details {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  width: 80%;
  margin: 0 auto;
  background-color: rgba(25, 25, 32, 0.65);
  color: #fff;
  transition: all .3s ease;
}
.blog-category .category-post .category-details h5 {
  position: relative;
  margin-bottom: 0;
  font-size: 1.25em;
  line-height: 1.5;
  text-transform: uppercase;
  color: #eaf6ff;
}
.blog-category .category-post .category-details .border-line {
  margin: 10px 0;
  width: 100%;
  height: 1px;
  background: #eaf6ff;
}
.blog-category .category-post .category-details p {
  margin-bottom: 0;
  font-size: 1.1em;
  line-height: 2;
  font-weight: 400;
}

.blog-area .blog-left-side {
  width: 67%;
  flex: 0 0 67%;
}
@media (max-width: 992px) {
  .blog-area .blog-left-side {
    width: 100%;
    flex: 0 0 100%;
    margin-bottom: 2rem;
  }
}
.blog-area .blog-left-side .blog-item {
  display: flex;
  margin-bottom: 4rem;
}
.blog-area .blog-left-side .blog-item .blog-info {
  width: 25%;
  flex: 0 0 25%;
  text-align: right;
}
.blog-area .blog-left-side .blog-item .blog-info .post-tag {
  padding-bottom: 1rem;
}
.blog-area .blog-left-side .blog-item .blog-info .post-tag a {
  font: 300 0.9em/1.2 "Ubuntu", sans-serif;
  color: #495454;
  transition: .25s ease-in;
}
.blog-area .blog-left-side .blog-item .blog-info .post-tag a:active, .blog-area .blog-left-side .blog-item .blog-info .post-tag a.active, .blog-area .blog-left-side .blog-item .blog-info .post-tag a.hover, .blog-area .blog-left-side .blog-item .blog-info .post-tag a:hover {
  color: #ffa400;
}
.blog-area .blog-left-side .blog-item .blog-info .blog-meta {
  padding-left: 0;
}
.blog-area .blog-left-side .blog-item .blog-info .blog-meta a {
  display: inline-block;
  padding-bottom: 1rem;
  font-size: 0.9em;
  font-weight: 300;
  line-height: 1;
  vertical-align: middle;
  color: #7a7b7b;
}
.blog-area .blog-left-side .blog-item .blog-post {
  width: 75%;
  flex: 0 0 75%;
}
.blog-area .blog-left-side .blog-item .blog-post .blog-details {
  padding-top: 1rem;
}
.blog-area .blog-left-side .blog-item .blog-post .blog-details h2 {
  margin-bottom: 1rem;
  color: #495454;
  transition: .3s ease;
}
.blog-area .blog-left-side .blog-item .blog-post .blog-details a:hover h2 {
  color: #ffa400;
}
.blog-area .blog-left-side .blog-item .blog-post .blog-details p {
  color: #7a7b7b;
}
.blog-area .blog-left-side .blog-pagination {
  display: flex;
  justify-content: center;
}
.blog-area .blog-left-side .blog-pagination .pagination {
  display: flex;
  justify-content: center;
}
.blog-area .blog-left-side .blog-pagination .pagination .page-item {
  bottom: none;
}
.blog-area .blog-left-side .blog-pagination .pagination .page-item .page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  color: #7a7b7b;
  bottom: none;
  transition: .3s ease;
}
.blog-area .blog-left-side .blog-pagination .pagination .page-item .page-link:hover, .blog-area .blog-left-side .blog-pagination .pagination .page-item .page-link.hover, .blog-area .blog-left-side .blog-pagination .pagination .page-item .page-link:active, .blog-area .blog-left-side .blog-pagination .pagination .page-item .page-link.active {
  color: #eaf6ff;
  background-color: #ffa400;
  text-decoration: none;
  border-color: rgba(122, 123, 123, 0.75);
}
.blog-area .blog-left-side .blog-pagination .pagination .page-item .page-link:disabled, .blog-area .blog-left-side .blog-pagination .pagination .page-item .page-link.disabled {
  cursor: not-allowed;
  background-color: transparent;
  color: rgba(122, 123, 123, 0.55);
}
.blog-area .blog-right-side {
  width: 33%;
  flex: 0 0 33%;
  height: fit-content;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: rgba(234, 246, 255, 0.35);
  border: 1px solid #ededed;
}
@media (max-width: 992px) {
  .blog-area .blog-right-side {
    width: 100%;
    flex: 0 0 100%;
  }
}
.blog-area .blog-right-side .search-widget .input-group .form-control {
  -webkit-background-clip: padding-box;
  width: 100%;
  padding: 0.375rem 0.75rem 0.375rem 20px;
  font-size: 14px;
  background-color: #ffa400;
  color: #fff;
  border: none;
  border-radius: 45px;
  z-index: 0;
}
.blog-area .blog-right-side .search-widget .input-group .form-control::placeholder {
  color: #fff;
}
.blog-area .blog-right-side .search-widget .input-group .btn-widget {
  position: absolute;
  top: 50%;
  right: 20px;
  padding: 0;
  font-size: 14px;
  background-color: transparent;
  color: #fff;
  border: none;
  transform: translateY(-50%);
  box-shadow: none;
  z-index: 1;
}
.blog-area .blog-right-side .author-widget h4 {
  margin-top: 1rem;
}
.blog-area .blog-right-side .author-widget p {
  margin-bottom: 0;
}
.blog-area .blog-right-side .author-widget .social-icon {
  padding: .5rem 0 1rem;
}
.blog-area .blog-right-side .author-widget .social-icon a {
  margin-right: 1rem;
  color: #495454;
  transition: color .3s ease;
}
.blog-area .blog-right-side .author-widget .social-icon a:hover {
  color: #ffa400;
}
.blog-area .blog-right-side .newsletter-widget .form-group {
  margin-bottom: 1rem;
  display: flex;
  flex-flow: row;
}
.blog-area .blog-right-side .newsletter-widget .form-group .input-group .input-group-prepend {
  display: flex;
  margin-right: -1px;
}
.blog-area .blog-right-side .newsletter-widget .form-group .input-group .input-group-prepend .input-group-text {
  display: flex;
  align-items: center;
  padding: 0 0 0 15px;
  margin-bottom: 0;
  background-color: #fff;
  font-size: 12px;
  text-align: center;
  line-height: 2;
  vertical-align: top;
  border: 1px solid #eee;
  border-right: 0;
  border-radius: 0;
  white-space: nowrap;
}
.blog-area .blog-right-side .newsletter-widget .form-group .input-group .form-control {
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
  padding: 0.375rem 0.75rem;
  font-size: 12px;
  border: 1px solid #eee;
  border-left: 0;
  border-radius: 0;
}
.blog-area .blog-right-side .newsletter-widget .form-group .bbtns {
  display: inline-block;
  padding: 0 24px;
  font-size: 12px;
  line-height: 38px;
  font-weight: 500;
  background-color: #ffa400;
  color: #fff;
  border-radius: 0;
}
.blog-area .blog-right-side .newsletter-widget .form-group .bbtns:hover, .blog-area .blog-right-side .newsletter-widget .form-group .bbtns:focus {
  background-color: #e09000;
  outline: none;
}
.blog-area .blog-right-side .tag-cloud-widget ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.blog-area .blog-right-side .tag-cloud-widget ul li {
  margin-bottom: .75rem;
  margin-right: 3px;
}
.blog-area .blog-right-side .tag-cloud-widget ul li a {
  padding: 5px 10px;
  font-size: 13px;
  background-color: #fff;
  color: #495454;
  border: 1px solid #ededed;
  transition: .3s ease;
}
.blog-area .blog-right-side .br {
  width: 100%;
  background-color: #eee;
  height: 1px;
  margin: 30px 0;
}
