.navigation
    {
        .nav-links
        {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            min-width: 50%;

            .nav-item
            {
                margin-left: 1rem;
                list-style-type: none;

                .nav-link
                {
                    padding: .35rem  .75rem;
                    
                    font-size: 2rem;
                    font-weight: 400;
                    color: inherit;
                    line-height: 2;
                    cursor: pointer;
                    text-decoration: none;
                    border-bottom: 1px solid transparent;
                    transition: all .3s ease;

                    &:hover, &:active, &.active
                    {
                        color: $main-color;
                        border-block-color: $main-color;

                    }
                }
            }
        }
    }
    